doctype html
head
  title Dashboard
  link(rel="stylesheet",href="./style.css")
form(method="POST" action="/new-message")
  h1 
    | Welcome 
    span #{username} 
    | to your dashboard.
  h3 Post message
  input(type="text" name="message")
  input(type="submit" class="btn")

  hr

  a.btn(href="/logout") Logout
  br
  a.btn(href="/messages") See Messages